<section class="login-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 col-12">
                <div class="login-block">
                    <img src="/assets/image/mainlogo.png" class="pms-logo" />

                    <form [formGroup]="loginForm" class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" formControlName="email" matInput placeholder="Ex. user@example.com">
                            <mat-error *ngIf="hasError('email','required')">Please Enter Email Id</mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width ">
                            <mat-label>Password</mat-label>
                            <input type="password" formControlName="password" matInput placeholder="Ex. ************">
                            <mat-error *ngIf="hasError('password','required')">Please Enter Password.</mat-error>
                        </mat-form-field>

                        <div class="forgot-block">
                            <a href="#">Forgot Password?</a>
                        </div>

                        <div class="btn-block">
                            <button type="submit" (click)="userlogin()" class="login-btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>