.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.login-sec {
    background: linear-gradient(154deg, #f5f5f5 0%, #f5f5f5 50%, rgba(15, 64, 107, 1) 50%, rgba(15, 64, 107, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-block {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 2px 15px -10px #000;
    border-radius: 10px;
}

.login-block label {
    color: #333 !important;
    font-size: 14px;
}

img.pms-logo {
    margin: 30px auto;
    width: 200px;
    display: block;
}

.forgot-block a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.btn-block {
    display: flex;
    padding: 20px;
    justify-content: center;
}

button.login-btn {
    border: 1px solid #0f406b;
    padding: 7px 30px;
    border-radius: 30px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    color: #0f406b;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

button.login-btn:hover {
    background: #0f406b;
    color: #fff;
}

@media (max-width:767.99px) {
    .login-block {
        background: #f5f5f5;
        box-shadow: none;
    }
}