.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.next_btn {
    background: #0f406b;
    color: #fff;
    border-radius: 50px;
    margin-right: 10px;
    padding: 6px 33px;
    margin-top: 30px;
    border: none;
    letter-spacing: 1px;
}

.example-list {
    width: 500px;
    max-width: 100%;
    /* border: solid 1px #ccc; */
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    /* overflow: hidden;*/
}

.example-box {
    padding: 20px 10px;
    /* border-bottom: solid 1px #ccc; */
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 12px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.agger_group {
    padding-top: 20px;
    padding-bottom: 20px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.step_titles {
    margin: 0;
}

.titlkes {
    height: 100%;
    display: flex;
    align-items: center;
}

.entry-inputs-block mat-form-field {
    width: 100%;
    margin: 0;
}

.check_nones p {
    margin: 0;
}

.radio-center {
    height: 100%;
    display: flex;
    align-items: center;
}

.dd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dd p {
    margin: 0;
}

.dd mat-form-field mat-select {
    width: 40% !important;
}