.next_btn {
    letter-spacing: 1px;
    position: absolute;
    left: 470px;
    top: -17px;
}

dialog {
    width: 500px;
}

.title {
    display: revert;
    position: relative;
}

.mat-dailog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 50% !important;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    align-items: center;
    margin: auto !important;
}

@media (max-width:767.98px) {
    .next_btn {
        letter-spacing: 1px;
        position: absolute;
        left: 300px;
        top: -17px;
    }
}