<div class="page-content" *ngIf='beginview'>

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">

            </div>
        </div>
    </div>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Demographic data</ng-template>
            <form [formGroup]="firstFormGroup">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                <div class="check_nones mb-3">
                                    <p>Pen Serial No.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Enter Pen Serial No.</mat-label>
                                        <input formControlName="pen_serial" [disabled]="true" matInput placeholder="Ex. 123456" value="{{beginview.pen_serial}}">


                                    </mat-form-field>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Date of Visit</mat-label>
                                        <input matInput formControlName="date_visit" [matDatepicker]="visit_date" [value]="date_visit">
                                        <mat-datepicker-toggle matSuffix [for]="visit_date"></mat-datepicker-toggle>
                                        <mat-datepicker #visit_date></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="check_nones">
                            <p>Sex</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block radio-center">
                                    <mat-radio-group color="primary" formControlName="sex" aria-label="Select an option" value={{beginview.sex}}>
                                        <mat-radio-button value="male" class="mr-5">Male</mat-radio-button>
                                        <mat-radio-button value="female">Female</mat-radio-button>
                                    </mat-radio-group>

                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Enter Age in years</mat-label>
                                        <input matInput formControlName="age" type="number" placeholder="Ex. 24 Year" value="{{beginview.age}}">

                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Present Body Weight (Kg):</mat-label>
                                        <mat-select formControlName="weight" value="{{beginview.weight}}" (selectionChange)="weight($event)">

                                            <mat-option *ngFor="let index of getweight()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Height (cm):</mat-label>
                                        <mat-select formControlName="height" value="{{beginview.height}}" (selectionChange)="height($event)">
                                            <mat-option *ngFor="let index of getheight()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Enter BMI in kg/m2</mat-label>
                                        <input formControlName="bmi" matInput placeholder="Ex. 20kg/m2" [value]="bmi">

                                    </mat-form-field>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-lg-12 col-md-12">

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones">
                                    <p> Education</p>
                                </div>
                                <div class="entry-inputs-block">

                                    <mat-radio-group formControlName="education" color="primary" formControlName="education" aria-label="Select an option" value="{{beginview.education}}">
                                        <mat-radio-button value="none" class="mr-5">None</mat-radio-button>
                                        <mat-radio-button value="primary" class="mr-5">Primary</mat-radio-button>
                                        <mat-radio-button value="high school">High School</mat-radio-button>
                                        <mat-radio-button value="Pre_University">Pre_University</mat-radio-button>
                                        <mat-radio-button value="Graduate">Graduate</mat-radio-button>
                                    </mat-radio-group>



                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones">
                                    <p>Employment</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group formControlName="employment" color="primary" formControlName="employment" aria-label="Select an option" value="{{beginview.employment}}">
                                        <mat-radio-button value="none" class="mr-5">None</mat-radio-button>
                                        <mat-radio-button value="Employed" class="mr-5">Employed</mat-radio-button>
                                        <mat-radio-button value="Unemployed">Unemployed</mat-radio-button>
                                    </mat-radio-group>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <button mat-button class="next_btn"  *ngIf="!completed" (click)="submitFirst(true)">Save as Draft</button>
                        <button mat-button matStepperNext (click)="submitFirst(false)" class="next_btn">Next</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <!---------------------------------Step 02----------------------------------------->
        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Medical History</ng-template>
            <form [formGroup]="secondFormGroup">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 mb-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration of Diabetes</mat-label>
                                        <mat-select formControlName="duration_diabetes" value="{{beginview.duration_diabetes}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Treated for Diabetes since</mat-label>
                                        <mat-select formControlName="treated_diabetes" value="{{beginview.treated_diabetes}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12 mb-3">
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Family history of Diabetes:</p>
                                </div>

                                <div class="entry-inputs-block">
                                    <mat-radio-group color="primary" formControlName="family_diabetes" aria-label="Select an option" value="{{beginview.family_diabetes}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="0">No</mat-radio-button>
                                    </mat-radio-group>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12 mb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="check_nones">
                                    <p>Hypertension:</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block radio-center">
                                    <mat-radio-group color="primary" formControlName="hypertension" aria-label="Select an option" value="{{beginview.hypertension}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="0">No</mat-radio-button>

                                    </mat-radio-group>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration of Hypertension:</mat-label>
                                        <mat-select formControlName="duration_hypertension" value="{{beginview.duration_hypertension}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12 mb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="check_nones">
                                    <p>Blood Pressure:</p>
                                </div>
                            </div>

                            <!-- <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Blood Pressure</mat-label>
                                        <mat-select formControlName="blood_pressure" value="{{beginview.blood_pressure}}">
                                            <mat-option value="40-400">40-400</mat-option>
                                            <mat-option value="30">30</mat-option>
                                            <mat-option value="20">20</mat-option>
                                            <mat-option value="50">50</mat-option>
                                            <mat-option value="60">60</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div> -->

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Blood Pressure (mmHg) systolic</mat-label>
                                        <mat-select formControlName="systolic" value="{{beginview.systolic}}">
                                            <mat-option *ngFor="let index of getvaluefast()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="check_nones">
                                    <p>Blood Pressure:</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label> Blood Pressure (mmHg) diastolic</mat-label>
                                        <mat-select formControlName="diastolic" value="{{beginview.diastolic}}">
                                            <mat-option *ngFor="let index of getvaluefast()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12  mb-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones mb-3">
                                    <p>Smoking :</p>
                                </div>

                                <div class="entry-inputs-block">
                                    <mat-radio-group formControlName="smoking" color="primary" aria-label="Select an option" value="{{beginview.smoking}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="0">No</mat-radio-button>
                                    </mat-radio-group>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones mb-3">
                                    <p>Alcohol :</p>
                                </div>

                                <div class="entry-inputs-block">
                                    <mat-radio-group color="primary" formControlName="alcohol" aria-label="Select an option" value="{{beginview.alcohol}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="0">No</mat-radio-button>
                                    </mat-radio-group>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12 mb-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones mb-3">
                                    <p>Complications and Co morbid medical conditions:</p>
                                </div>

                                <div class="entry-inputs-block">
                                    <mat-radio-group formControlName="medical_condition" color="primary" aria-label="Select an option" [checked]="beginview.medical_condition" (change)="onchange($event)" value="{{beginview.medical_condition}}">
                                        <mat-radio-button value="yes" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>

                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-lg-12 col-md-12 mb-3" *ngIf="medication">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Condition</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="hypertension_dur" [checked]="beginview.hypertension_dur" (change)="oncheked($event, 'hypertension_dur')" class="example-margin d-block mb-2">Hypertension
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="hypertension">
                                <div class="check_nones">
                                    <p>Duration</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="duration" value="{{hypercheck.duration}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="hypertension">
                                <div class="check_nones mb-3">

                                    <p>Medication :</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group color="primary" formControlName="medications" aria-label="Select an option" value="{{hypercheck.medications}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Condition</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="dyslipidemia_dur" (change)="oncheked2($event,'dyslipidemia_dur')" [checked]="dysncheck.dyslipidemia_dur" class="example-margin d-block mb-2">Dyslipidemia
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="dyslipidemia">
                                <div class="check_nones">
                                    <p>Duration</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="dyslipidemia_duration" value="{{dysncheck.dyslipidemia_duration}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="dyslipidemia">
                                <div class="check_nones mb-3">
                                    <p>Medication :</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group formControlName="dyslipidemia_medication" color="primary" aria-label="Select an option" value="{{dysncheck.dyslipidemia_medication}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Condition</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="coronary_artery_dur" [checked]="beginview.coronary_artery_dur" (change)="oncheked3($event,'coronary_artery_dur')" class="example-margin d-block mb-2">Coronary Artery Disease
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="coronary">
                                <div class="check_nones">
                                    <p>Duration</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="coronary_artery_duration" value="coroncheck.coronary_artery_duration">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="coronary">
                                <div class="check_nones mb-3">
                                    <p>Medication :</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group color="primary" formControlName="coronary_artery_medication" aria-label="Select an option" value="coroncheck.coronary_artery_medication">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Condition</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="stroke_dur" [checked]="beginview.stroke_dur" (change)="oncheked4($event,'stroke_dur')" class="example-margin d-block mb-2">Stroke
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="stroke">
                                <div class="check_nones">
                                    <p>Duration</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="stroke_duration" value="{{strokecheck.stroke_duration}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="stroke">
                                <div class="check_nones mb-3">
                                    <p>Medication :</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group color="primary" formControlName="stroke_medication" aria-label="Select an option" value="{{strokecheck.stroke_medication}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Condition</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="neuropathy_dur" [change]="beginview.neuropathy_dur" (change)="oncheked5($event,'neuropathy_dur')" class="example-margin d-block mb-2">Neuropathy
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="neuropathy">
                                <div class="check_nones">
                                    <p>Duration</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="neuropathy_duration" value="{{neuropathycheck.neuropathy_duration}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="neuropathy">
                                <div class="check_nones mb-3">
                                    <p>Medication :</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group color="primary" formControlName="neuropathy_medication" aria-label="Select an option" value="neuropathycheck.neuropathy_medication">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Condition</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="retinopathy_dur" [checked]="beginview.retinopathy_dur" (change)="oncheked6($event,'retinopathy_dur')" class="example-margin d-block mb-2">Retinopathy
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="retinopathy">
                                <div class="check_nones">
                                    <p>Duration</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="retinopathy_duration" value="{{retinopathycheck.retinopathy_duration}}">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="retinopathy">
                                <div class="check_nones mb-3">
                                    <p>Medication :</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group formControlName="retinopathy_medication" color="primary" aria-label="Select an option" value="{{retinopathycheck.retinopathy_medication}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="check_nones mb-3">
                                    <p>Condition</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="nephropathy_dur" [checked]="beginview.nephropathy_dur" (change)="oncheked7($event,'nephropathy_dur')" class="example-margin d-block mb-2">Nephropathy
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="nephropathy">
                                <div class="check_nones">
                                    <p>Duration</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="nephropathy_duration" value="nephrocheck.nephropathy_duration">
                                            <mat-option *ngFor="let index of getvaluediabetes()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12" *ngIf="nephropathy">
                                <div class="check_nones mb-3">
                                    <p>Medication :</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-radio-group color="primary" formControlName="nephropathy_medication" aria-label="Select an option" value="{{nephrocheck.nephropathy_medication}}">
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12 mb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="check_nones mb-3">
                                    <p>Anti-Diabetes Medication (except Insulin) :</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="Biguanides" class="example-margin d-block mb-2"  (change)="antiDiabetesChange($event,'Biguanides')" [checked]="checkAntiDiabetes('Biguanides')">Biguanides
                                    </mat-checkbox>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="Sulphonylureas"  (change)="antiDiabetesChange($event,'Sulphonylureas')" [checked]="checkAntiDiabetes('Sulphonylureas')" class="example-margin d-block mb-2">
                                        Sulphonylureas</mat-checkbox>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="Meglitinides" (change)="antiDiabetesChange($event,'Meglitinides')" [checked]="checkAntiDiabetes('Meglitinides')" class="example-margin d-block mb-2">Meglitinides
                                    </mat-checkbox>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="Thiazolidendiones" (change)="antiDiabetesChange($event,'Thiazolidendiones')" [checked]="checkAntiDiabetes('Thiazolidendiones')" class="example-margin d-block mb-2">
                                        Thiazolidendiones</mat-checkbox>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="GLP_Analogues" (change)="antiDiabetesChange($event,'GLP_Analogues')" [checked]="checkAntiDiabetes('GLP_Analogues')" class="example-margin d-block mb-2">GLP Analogues
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="DPP4_Inhibitors" (change)="antiDiabetesChange($event,'DPP4_Inhibitors')" [checked]="checkAntiDiabetes('DPP4_Inhibitors')" class="example-margin d-block mb-2">DPP4 Inhibitors
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="DoubleDrugFixed" (change)="antiDiabetesChange($event,'DoubleDrugFixed')" [checked]="checkAntiDiabetes('DoubleDrugFixed')" class="example-margin d-block mb-2">Double Drug Fixed Dose Combination
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="entry-inputs-block">
                                    <mat-checkbox color="primary" formControlName="TripleDrugFixed" (change)="antiDiabetesChange($event,'TripleDrugFixed')" [checked]="checkAntiDiabetes('TripleDrugFixed')" class="example-margin d-block mb-2">Triple Drug Fixed Dose Combinations
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <button mat-button matStepperPrevious class="next_btn">Back</button>
                        <button mat-button class="next_btn"  *ngIf="!completed"  (click)="onSecondSubmit(true)">Save as Draft</button>
                        <button mat-button matStepperNext (click)="onSecondSubmit(false)" class="next_btn">Next</button>
                    </div>

                </div>
            </form>
        </mat-step>
        <!---------------------------------Step 03----------------------------------------->

        <mat-step>
            <ng-template matStepLabel>Medical History</ng-template>
            <form [formGroup]="thirdFormGroup">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 mb-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones">
                                    <p>Fasting Plasma Glucose (FPG)</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Duration</mat-label>
                                        <mat-select formControlName="fasting_plasma" value="{{beginview.fasting_plasma}}">
                                            <mat-option *ngFor="let index of getvaluefast()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones">
                                    <p>Postprandial Plasma Glucose (PPG)</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Plasma Glucose</mat-label>
                                        <mat-select formControlName="postprandial_plasma" value="{{beginview.postprandial_plasma}}">
                                            <mat-option *ngFor="let index of getvalue()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones">
                                    <p>Glycosylated Hemoglobin (HbA1c)</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>Hemoglobin</mat-label>
                                        <mat-select formControlName="glycosylated" value="{{beginview.glycosylated}}">
                                            <mat-option *ngFor="let index of getvalues()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones">
                                    <p>HbA1c test performed to Lab(HPLC)</p>
                                </div>
                                <!-- <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>HbA1c test performed to Lab(HPLC)</mat-label>
                                        <mat-select formControlName="hbac_lab" value="{{beginview.hbac_lab}}">
                                            <mat-option value="0">0</mat-option>
                                            <mat-option value="1">1</mat-option>
                                            <mat-option value="2">2</mat-option>
                                            <mat-option value="3">3</mat-option>
                                            <mat-option value="4">4</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div> -->
                                <div class="entry-inputs-block">
                                    <mat-radio-group formControlName="hbac_lab" color="primary" aria-label="Select an option" value={{beginview.hbac_lab}}>
                                        <mat-radio-button value="1" class="mr-5">Yes</mat-radio-button>
                                        <mat-radio-button value="0">No</mat-radio-button>
                                        <!-- <mat-error *ngIf="hasError3('hbac_lab', 'required')">blood_investigation_HPLC field is required</mat-error> -->
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="check_nones">
                                    <p>S.Creatinine (mg/dl)</p>
                                </div>
                                <div class="entry-inputs-block">
                                    <mat-form-field>
                                        <mat-label>S.Creatinine</mat-label>
                                        <mat-select formControlName="s_creatinine" value="{{beginview.s_creatinine}}">
                                            <mat-option *ngFor="let index of getCreatinine()" value="{{index}}">{{index}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>


                        </div>
                    </div>




                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <button mat-button matStepperPrevious class="next_btn">Back</button>
                        <button mat-button class="next_btn" *ngIf="!completed" (click)="thirdForm(true)">Save as Draft</button>
                        <button mat-button matStepperNext  (click)="thirdForm(false)" class="next_btn">Next</button>
                        <!-- <button mat-button matStepperNext (click)="submit()" class="next_btn">Submit</button> -->
                    </div>
                </div>
            </form>
        </mat-step>
        <!---------------------------------Step 04----------------------------------------->
        <mat-step>
            <ng-template matStepLabel>Insulinisation</ng-template>
            <form [formGroup]="fourthFormGroup">

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="check_nones mb-3">
                        <p>Dose of Insulin Glargine at initiation: </p>
                    </div>
                    <div class="entry-inputs-block">
                        <mat-radio-group color="primary" formControlName="dose_insulin" value={{beginview.dose_insulin}}>
                            <mat-radio-button value="0.1U/kg body weight" class="mr-2">0.1U/kg body weight
                            </mat-radio-button>
                            <mat-radio-button value="0.2U/Kg body weight" class="mr-2">0.2U/Kg body weight
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="10 U" class="mr-2">10 U</mat-radio-button>
                            <mat-radio-button value="Others" class="mr-2">Others</mat-radio-button>
                        </mat-radio-group>
                    </div>


                </div>
                <div class="col-lg-12 col-md-12 col-12 mt-3">
                    <div class="entry-inputs-block">
                        <mat-checkbox color="primary" formControlName="glargine_insulin" (change)="oncheked10($event)" [checked]="garglineArray.glargine_insulin" class="example-margin d-block mb-2">Insulin Glargine (IU)
                        </mat-checkbox>
                    </div>

                    <div class="row" *ngIf="glargine_condition">
                        <div class="col-lg-4 col-md-4 col-12 mb-3">

                            <div class="entry-inputs-block">
                                <mat-form-field>
                                    <mat-label>Breakfast (IU)</mat-label>
                                    <mat-select formControlName="glargine_insulin_breakfast">
                                        <mat-option *ngFor="let index of getmulvalues()" value="{{index}}">{{index}}</mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="hasError4('glargine_insulin_breakfast', 'required')">select field is required</mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-4 col-12 mb-3">

                            <div class="entry-inputs-block">
                                <mat-form-field>
                                    <mat-label>Dinner (IU)</mat-label>
                                    <mat-select formControlName="glargine_insulin_dinner">
                                        <mat-option *ngFor="let index of getmulvalues()" value="{{index}}">{{index}}</mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="hasError4('glargine_insulin_dinner', 'required')">select field is required</mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-12 col-md-12">
                    <button mat-button matStepperPrevious  *ngIf="completed" (click)="btnClick();" class="next_btn" >Back</button>
                    <!-- <button mat-button class="next_btn"  *ngIf="!completed">Save as Draft</button> -->
                    <button mat-button matStepperNext class="next_btn"  *ngIf="!completed" (click)="submit()">Submit</button>
                </div>


            </form>

        </mat-step>
    </mat-horizontal-stepper>