<div class="page-content  right-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h3>Settings</h3>
            </div>
        </div>
    </div>
    <form [formGroup]="form" class="mt-3">
        <div>
            <!-- <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="check_nones mb-3">
                    <p>Patient Mobile No.</p>
                </div>
            </div> -->
            <div class="col-lg-10 col-md-6 col-10">
                <div class="entry-inputs-block in_fulls">
                    <mat-form-field class="example-full-width">
                        <mat-label>Current Password </mat-label>
                        <input formControlName="old_pass" matInput value="">
                        <mat-error *ngIf="hasError('old_pass', 'required')">Current Password field is required</mat-error>
                    </mat-form-field>

                </div>
                <div class="entry-inputs-block in_fulls">
                    <mat-form-field class="example-full-width">
                        <mat-label>New Password </mat-label>
                        <input formControlName="new_pass" matInput value="">
                        <mat-error *ngIf="hasError('new_pass', 'required')">New Password field is required</mat-error>
                    </mat-form-field>

                </div>
                <div class="entry-inputs-block in_fulls">
                    <mat-form-field class="example-full-width">
                        <mat-label> Confirm New Password </mat-label>
                        <input formControlName="cnew_pass" matInput value="">
                        <mat-error *ngIf="hasError('cnew_pass', 'required')">Confirm New Password field is required</mat-error>

                    </mat-form-field>
                    <mat-error *ngIf="formerror" class="text-danger errors">New Password and Confirm New Password is not matched </mat-error>

                </div>

                <button mat-button type="submit" (click)='submit()' class="next_btn">Change Password</button>
            </div>
        </div>
    </form>
</div>