<div class="page-content  right-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h3>Invoice</h3>
            </div>
        </div>
    </div>
    <form class="mt-3" [formGroup]="form">
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card-details Invoice_Info">
                    <div class=" text-center " *ngIf="invoiceAvailable">
                        <button class="invoicebtn"><a [href]="link" target="_blank" [download]="link" class="text-white" >Download Invoice</a></button>
                    </div>

                    <div class="row mt-5" *ngIf="invoiceAvailable && invoiceAcceptShow">
                        <div class="col-12">
                            <div class="entry-inputs-block inline_check">
                                <mat-checkbox formControlName="declare" color="primary" class="example-margin d-block"></mat-checkbox>
                                I accept above invoice
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!invoiceAcceptShow" class="mt-3">
                        <p>Your invoice has been submitted.</p>
                    </div>

                    <div *ngIf="!invoiceAvailable" class="data_notfound">
                        <h1>Invoice Not Found</h1>
                    </div>

                    <button *ngIf="invoiceAvailable && invoiceAcceptShow" mat-button type="submit" (click)="submit()" class="next_btn">Submit</button>
                </div>

            </div>
        </div>
    </form>
</div>