.mat-form-field {
    margin-top: 16px;
}

.next_btn {
    background: #0f406b !important;
    color: #fff;
    border-radius: 50px;
    margin-right: 10px;
    padding: 6px 33px;
    margin-top: 30px;
    border: none;
    letter-spacing: 1px;
}

.in_fulls mat-form-field {
    width: 100%;
}

.card-details {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 20px 30px -15px #ccc;
    border: 1px solid #eee;
    margin-bottom: 20px;
    position: relative;
}

.Img-Block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content h4 {
    margin-bottom: 10px;
}

.inline_check mat-checkbox {
    margin-top: 5px;
    margin-right: 10px;
}

.inline_check {
    display: flex;
}

.Invoice_Info {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.Invoice_Info .mat-checkbox {
    margin-top: 2px;
}

@media (max-width:767.99px) {
    .data_notfound h1 {
        font-size: 24px;
    }
    
    .data_notfound {
        text-align: center;
    }

    .Invoice_Info {
        align-items: center;
    }
}