<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <!-- <h3>{{beginlist|json}}</h3> -->
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-lg-6 col-md-6 col-12 p-half-r">
            <div class="patient-list">
                <h5>Completed CRF</h5>
                <div class="patient-list-tbl">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let beginlist of beginlist">
                                <td>
                                    <div class="patient-img">
                                        <img src="/assets/image/patient-user.png" />
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="patient-details">
                                        <h4>{{beginlist.id}}</h4>
                                        <p>{{beginlist.mobile}}</p>

                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12 p-half-l">
            <div class="patient-list">
                <h5>Draft CRF</h5>
                <div class="patient-list-tbl">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let begindraftlist of begindraftlist; let i=index">
                                <td>
                                    <div class="patient-img">
                                        <img src="/assets/image/patient-user.png" />
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="patient-details">
                                        <p>{{begindraftlist.mobile}}</p>
                                        <h4>{{begindraftlist.age}}</h4>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="action-block">
                                        <a [routerLink]="['/begin-view',begindraftlist.id]" class="view-btn">
                                            <!-- //<a href="#" class="view-btn"> -->
                                            <img src="/assets/image/visibility.svg" width="20" />
                                        </a>
                                        <a (click)="deletedata(begindraftlist.id,i)" class="delete-btn">
                                            <img src="/assets/image/trash.svg" width="20" />
                                        </a>
                                    </div>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>