.card-details {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 20px 30px -15px #ccc;
    border: 1px solid #eee;
    margin-bottom: 20px;
    position: relative;
}

.Img-Block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content h4 {
    margin-bottom: 10px;
}

.card-content video {
    /* margin: 71px;*/
    align-items: center;
}

video {
    align-items: center;
}

.howitworks video {
    align-items: center;
}

@media (max-width:767.99px) {
    .video-box video {
        height: 200px;
    }
    .card-details h1 {
        font-size: 24px;
    }
}