<div class="sitebar">
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <h5>Main Menu</h5>
        <ul class="sidebarMenuInner">
            <li>
                <a href="javascript:void(0);" [routerLink]="['/kap-survey']">KAP Survey</a>
            </li>

            <li>
                <a href="javascript:void(0);" [routerLink]="['/add-entry-process']">Add Entry</a>
            </li>
            <li>
                <a href="javascript:void(0);" [routerLink]="['/initiate_completed_list']">Initiate List</a>
            </li>
            <li>
                <a href="javascript:void(0);" [routerLink]="['/patient-logs']">Patient Logs</a>
            </li>

            <li>
                <a href="javascript:void(0);" [routerLink]="['/how-it-works']">How it works</a>
            </li>

            <li>
                <a href="javascript:void(0);" [routerLink]="['/instrutions']">Intructions</a>
            </li>

            <li>
                <a href="javascript:void(0);" [routerLink]="['/invoice-process']" *ngIf="userType=='b'">Invoice</a>
            </li>
            <li>
                <a href="javascript:void(0);" [routerLink]="['/begin-listing']" *ngIf="userType=='b'">Begin-Listing</a>
            </li>
        </ul>
    </div>
</div>