<div class="page-content  right-body">
    <div class="row">
        <div class="col-lg-12">

        </div>

        <div class="col-lg-6 col-md-6 col-12 p-half-l">
            <div class="patient-list">
                <h5>Initiate Completed List</h5>
                <div class="patient-list-tbl">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let data of datalist">
                                <td>
                                    <div class="patient-img">
                                        <img src="/assets/image/patient-user.png" />
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="patient-details">
                                        <h4>Mobile No: {{data.mobile}}</h4>
                                        <p>Age: {{data.age}}</p>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 p-half-l">
            <div class="patient-list ">
                <h5>Initiate Draft List</h5>
                <div class="patient-list-tbl scroll-list">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let data of draftdata;let i=index">
                                <td>
                                    <div class="patient-img">
                                        <img src="/assets/image/patient-user.png" />
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="patient-details">
                                        <h4>Mobile No: {{data.mobile}}</h4>
                                        <p>Age: {{data.age}}</p>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="action-block">
                                        <a [routerLink]="['/draft_view',data.id]" class="check-btn">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a (click)="delete(data.id,i)" class="delete-btn">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>