header {
    background: #0f406b;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 60px;
    display: flex;
    align-items: center;
}

header .navbar {
    padding: 0;
}

.top-nav a img {
    width: 25px;
    filter: invert(1);
}

.brand-logo img {
    width: 80px;
    align-items: center;
}

.brand-logo a {
    padding: 0;
    display: flex;
    align-items: center;
    color: #f5ebeb;
}

.navbar-expand-md .top-nav.navbar-nav a {
    padding: 0 0 0 20px;
}

.user-name {
    font-size: 16px;
    margin: 12px 0 0 10px;
}

@media (max-width:767.99px) {
    .user-name {
        font-size: 16px;
        margin: 12px 0 0 10px;
    }
}