.mat-form-field {
    margin-top: 16px;
}

.next_btn {
    background: #0f406b;
    color: #fff;
    border-radius: 50px;
    margin-right: 10px;
    padding: 6px 33px;
    margin-top: 30px;
    border: none;
    letter-spacing: 1px;
}

.in_fulls mat-form-field {
    width: 100%;
}

.inline_check mat-checkbox {
    margin-top: 5px;
    margin-right: 10px;
}

.inline_check {
    display: flex;
}

.Entry_mobileNumber_info {
    padding: 15px 15px 30px;
    background: #fff;
    border: 1px solid #eee;
}

.Entry_mobileNumber_info mat-form-field {
    margin: 0 !important;
}