.inline_check mat-checkbox {
    margin-top: 5px;
    margin-right: 10px;
}

.inline_check {
    display: flex;
}

.next_btn {
    background: #0f406b;
    color: #fff;
    border-radius: 50px;
    margin-right: 10px;
    padding: 6px 33px;
    border: none;
    letter-spacing: 1px;
}

.Professional-Engagement-Info {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

mat-dialog-content {
    overflow: initial;
}

.TNC-pop-header {
    border-bottom: 1px solid #ddd;
    margin: 0 -24px;
    padding: 0 24px;
}

.TNC_Description {
    margin-top: 20px;
}

.TNC_Popup .mat-dialog-content {
    margin: 0 -15px;
    padding: 0;
}

