<div class="TNC_Popup">
    <div class="row">
        <div class="col-lg-12">
            <div class="TNC-pop-header">
                <h2>TNC</h2>
            </div>
        </div>
    </div>

    <div class="row" mat-dialog-content>
        <div class="col-12">
            <div class="TNC_Description">
                <h6><u>Health Care Professional Engagement Agreement</u></h6>
                <br>
                <p>This Health Care Professional Engagement Agreement (“Agreement”) is entered into as on the _________ (“Effective Date”) between <strong>Biocon Biologics Limited</strong> , a company incorporated under the laws of India, having its
                    principal place of business at Biocon House, Ground Floor, Tower-3, Semicon Park Electronic City, Phase - II, Hosur Road, Bangalore - 560100, India (“<strong>Biocon</strong>”) and Dr. _________________, having residential address and
                    working at ______ having address ______ (“HCP”), each a “Party” and collectively the</p>

                <h6>Whereas</h6>
                <p>1) Biocon is engaged in the business of developing, manufacturing and commercializing pharmaceutical products.<br> 2) HCP is a qualified medical practitioner holding «DEGREE» in the field of «BRANCH_OF_MEDICINE__SURGERY» and has «YEARS_OF_EXPERIENCE»
                    years of experience in the medical field and a specialist in the diagnosis, prevention, treatment and management of «TREATMENT_OF________(Disease)».<br> 3) Biocon has agreed to engage HCP for activities as more specifically defined
                    in Annexure A to this Agreement. HCP agrees to perform such activities for Biocon as per the terms of this Agreement.</p>
                    
                <p><strong> NOW, THEREFORE,</strong>in consideration of the foregoing and of the mutual covenants and conditions in this Agreement, Biocon and HCP agree as follows:<br>
                    <br><strong> 1. SCOPE:</strong> <br> <br>HCP hereby agrees to perform such activities for Biocon as mentioned in Annexure A to this Agreement.<br>
                    <br><strong>2. TERM AND TERMINATION:</strong> <br><br> 2.1. This Agreement shall be effective and valid from the Effective Date as mentioned above and for a period of one (01) year from the Effective Date (the “Term”). The Agreement
                    may be renewed at the sole discretion of Biocon.<br> 2.2. Biocon may terminate this Agreement upon giving fifteen (15) days prior written notice to HCP.<br>
                    <br><strong>3. HONORARIUM FEE</strong><br> <br> 3.1. In exchange for HCP performing activities for Biocon in accordance with this Agreement, Biocon shall pay HCP into his nominated bank account an honorarium fee of Rs. 25,000/- (Twenty-five
                    thousand only).<br> 3.2. All payments shall be subject to tax deducted at source as applicable. Biocon shall pay the honorarium fee to HCP, based at single or multiple instances of activities performed. Biocon shall pay the honorarium
                    fee within forty-five (45) days from receipt of invoice along with deliverables from HCP. <br>3.3. HCP acknowledges that there will be no other payment due to HCP from Biocon for performing these activities except as mentioned in this
                    Agreement. <br>3.4. HCP acknowledges that this honorarium paid to HCP does not carry any obligation to prescribe, supply, administer, recommend or buy Biocon products and they do not constitute any reward for past or future business.
                    <br> <br> <strong>4. REPRESENTATIONS AND WARRANTIES OF THE HCP:</strong><br> <br> 4.1. HCP represents and warrants that he/she is a qualified medical practitioner registered under State Medical Council or Indian Medical Council, as
                    the case may be.
                    <br>4.2. HCP represents and warrants that during the performance of the activities, HCP shall not give any disparaging comment about Biocon or other companies’ products during the term and after termination of this Agreement.<br> 4.3.
                    HCP represents that, HCP, for the purpose of performing the activities under this Agreement, may have to collect patient data, however, HCP warrants that he/she shall not provide Biocon any patient data and therefore Biocon shall not
                    be liable for any act, omission or performance with respect to patient data. <br>4.4. HCP warrants that while collecting the patient data for the purpose of this Agreement, HCP shall obtain consent of the patients for collecting the
                    data and should any patient refuse to give their consent for the said purpose, HCP shall refrain from collecting their data under this Agreement. HCP shall comply with all the applicable data privacy laws and rules with respect to
                    patient data collected pursuant to this Agreement. <br>4.5. HCP warrants that all materials contributed by HCP are not unlawful, will not cause harm or injury, and do not infringe any intellectual property rights or other proprietary,
                    personal, or contractual rights of any third parties whether statutory or non-statutory.<br> 4.6. HCP represents, undertakes and warrants that to the best of his/her knowledge, the activities performed for Biocon pursuant to this Agreement
                    shall not present a conflict of interest with existing or future work or commitments undertaken by HCP on behalf of any third parties.<br> 4.7. HCP represents and warrants that, he/she shall not take any action on Biocon’s behalf which
                    would conflict with applicable anti-bribery laws, regulations or the requirements to avoid inducement under industry codes. In carrying out the activities under this Agreement, HCP agrees and undertakes to comply with all applicable
                    laws (including all anti bribery laws), and regulations in exercising their rights or performing their obligations under this Agreement including any other guidance or notification issued by any recognized body governing the ethics
                    of medical practitioner. <br>4.8. HCP represents and warrants that by performing activities under this Agreement, he/she does not violate applicable laws or regulation, or any policies of his/her employer or any organization in which
                    the medical practitioner may have influence over decision that may affect Biocon’s business.<br> 4.9. HCP represents and warrants that he/she shall not, in any manner, whether directly or indirectly, promote off label uses of Biocon’s
                    products. Biocon shall not be liable for any act, omission and/or performance on the part of HCP with respect promotion of off-label use of Biocon’s products.<br> 4.10. HCP represents and warrants that he/she is not aware of any inappropriate
                    inducement which would conflict with the requirements of the Uniform Code Pharma Marketing Practices, Indian Medical Council Regulations and Standards of Business Conduct and Ethics for Third Parties or any applicable anti-bribery
                    or anti-corruption laws.</p>
                <p> <br>
                    <strong>5. CONFIDENTIALITY:</strong><br> <br> 5.1. During performance of the activities, HCP may become aware of certain information confidential or proprietary to Biocon, its Affiliates or its licensees and licensors. Confidential
                    or proprietary information may include without limitation, technical, clinical, manufacturing and commercial information, procedures, products, formulations, policies and results (“Confidential Information”). HCP agrees not to disclose
                    such Confidential Information to any person or entity without Biocon’s prior consent, and that the Confidential Information is and shall remain the sole and exclusive property of Biocon. All obligations of confidentiality on HCP shall
                    survive even after termination of this Agreement.<br> 5.2. The obligations of HCP under Section 5.1 above with respect to any portion of the Confidential Information shall not apply to such portion that HCP shall establish by written
                    records: (a) was in the public domain at the time such portion was communicated to HCP by Biocon; (b) subsequently becomes available to the public through no fault or act of HCP; (c) was rightfully in HCP’s possession free of any obligation
                    of confidence at or subsequent to the time such portion was communicated to HCP by Biocon; (d) was received by HCP from a third party, who did not acquire it directly or indirectly from a source under any continuing obligation of confidence.
                    <br>5.3. In the event HCP is compelled by government, administrative, or judicial process to disclose any of the Confidential Information, HCP will provide prompt prior written notice thereof to Biocon to enable Biocon to seek protective
                    order and HCP shall take all reasonable and lawful actions to obtain confidential treatment for such disclosure. <br>5.4. Injunctive Relief: HCP agrees that any threatened or actual breach of any of the terms of this Agreement including
                    the Confidential Information obligation as per Section 5.1 above, by the HCP may cause irreparable loss to Biocon and the said loss may not be compensated by monetary compensation and, in addition to all other rights and remedies that
                    Biocon may have under law and equity, Biocon will have the right to seek appropriate injunctive relief and/or specific performance of the HCP’s obligations from courts of competent jurisdiction.
                    <br> 5.5. HCP represents that the procedures compatible with the relevant directives, data protection laws and regulations are and will be employed so that processing and transfer of relative personal data and identifiers, relating
                    to all patient data or protected information will not be impeded.


                </p>
                <br>
                <p>
                    <strong>6. INTELLECTUAL PROPERTY:</strong><br> <br> 6.1. The intellectual property on the deliverables created in the course of performing the activities shall be exclusive property of Biocon <br> 6.2. HCP understands that the material
                    provided during the performance of activities by Biocon shall not be utilized in any manner beyond what is stated in this Agreement.
                    <br> 6.3. HCP agrees and acknowledges that Biocon may use, reproduce and distribute the work resulting from performance of activities by HCP, in whole or in part, without any additional charge, in any medium including print and electronic
                    media.
                    <br> <br>
                    <strong> 7. GOVERNING LAW AND DISPUTE RESPOLUTION:</strong> <br><br>This Agreement shall be governed by and shall be construed in accordance with the laws of India without reference to its conflict of law provisions. The Parties agree
                    that they shall in good faith work towards implementation of this Agreement and any dispute arising out of or in relation to this Agreement shall be first attempted to be resolved amicably by mutual negotiations, failing which such
                    dispute shall be referred to Arbitration to be conducted in accordance with the Indian Arbitration and Conciliation Act, 1996 and the rules framed there under as amended from time to time. The arbitration shall be held in Bangalore,
                    India and shall be conducted in English by one arbitrator, appointed by both the parties in accordance with said Rules. The decision of such arbitrator shall be written, reasoned, final, binding and conclusive on the parties, and judgment
                    thereon may be entered in any court having jurisdiction over the parties and the subject matter hereof.
                    <br>
                    <strong> 8. MISCELLANEOUS:</strong> <br> <br>
                    <br> 8.1 Entire Agreement: This Agreement, in conjunction with its attachments, embodies the entire and integrated understanding between the Parties hereto and supersedes all prior agreements or understandings, negotiations, or representations
                    either written or oral, regarding its subject matter, <br> 8.2 Use of Affiliate: Biocon shall be entitled to use its Affiliates in discharging its obligations under this Agreement.
                    <br>8.3 Assignment: Biocon may assign any of its rights or obligations under this Agreement to any of its Affiliates in which event Biocon will notify HCP of such assignment HCP shall have no right whatsoever to assign license, or
                    otherwise transfer his/her rights and obligations under this Agreement to any third party whatsoever. <br> 8.4 Sub-Contracting: HCP shall not subcontract the activities and obligations under this Agreement to any third party without
                    prior written consent of Biocon. On receiving written approval of Biocon, HCP may sub contract the activities and obligations, however, subject to the condition that HCP shall be solely responsible for all omissions and commissions
                    of its subcontractor or any breach of terms of this Agreement by the sub-contractor.
                    <br> 8.5 Independent Parties: None of the provisions of this Agreement are intended to create, nor shall be deemed or construed to create, any relationship between Biocon and HCP. Neither of the Parties hereto, nor any of their respective
                    employees, shall be construed to be the agent, employer, or representative of the other.
                    <br> 8.6 Notice: Any notice to be given by either Party under this Agreement or in connection with this Agreement shall be deemed to have been validly given if it is served personally upon the other Party or sent by first class pre-paid
                    post, registered air mail, or other immediate form of communication, to the following addresses: <br> <br> Dr. __________ <br> <br> Biocon Biologics Limited <br>Attention: Associate Vice President, BF-Marketing Biocon House, Ground
                    Floor, Tower-3,
                    <br>Semicon Park Electronic City, Phase - II, <br>Hosur Road, Bangalore - 560100 Copy to: General Counsel & Chief Governance, Risk and Compliance Officer <br>
                    <br> 8.7 Headings: The headings appearing in this Agreement are for convenience and reference only, and are not intended to, and shall not, define or limit the scope of the provisions to which they relate.
                    <br> 8.8 Modification: This Agreement may not be modified except in a writing signed by authorized representatives of both Parties. Any quotation, invoice or other document issued by either Party with respect to the subject matter
                    of this Agreement shall be subject to and governed by the terms and conditions hereof, and the terms and conditions of this Agreement shall supersede any conflicting, different or additional terms and conditions of such quotation,
                    invoice or other document whether or not they would materially alter this Agreement.
                    <br> 8.9 Enforceability: The invalidity or unenforceability of any terms or provisions hereto in any jurisdiction shall in no way affect the validity or enforceability of any of the other terms or provisions in that jurisdiction, or
                    of the entire Agreement in any other jurisdiction.
                    <br>8.10 Waiver: No course of dealing between Biocon and HCP or any delay on the part of either Party in exercising any rights a Party may have under this Agreement shall operate as a waiver of any of the rights of a Party hereunder,
                    and no express waiver shall affect any condition, covenant, rule or regulation other than the one specified in such waiver and that one only for the time and in the manner specifically stated.
                    <br> 8.11 Counterparts: This Agreement and any amendments or supplement hereto or thereto, may be executed in any number of counterparts and any Party may execute any such counterpart, each of which when executed and delivered shall
                    be deemed to be an original. The execution of any such amendment or supplement by any Party will not become effective until counterparts have been executed by all the Parties hereto or thereto This Agreement may be executed and delivered
                    by facsimile or by “portable document format” (pdf) form, or by any other electronic means intended to preserve the original graphic and pictorial appearance of a document), and upon such delivery the facsimile or pdf signature will
                    be deemed to have the same effect as if the original signature had been delivered to the other party.
                    <br> <br> (Signature page follows)

                </p>

                <strong>IN WITNESS WHEREOF</strong> , this Agreement has been executed by duly authorised representatives of the Parties.

                <h4>Biocon Biologics Limited Dr. ______</h4> __________________________ <br>__________________________ <br>Name: Sudhir S. Nayak <br>Name: Title: Associate Vice President, BF-Marketing <br>Title: __________________________ <br>Name: Dinesh
                V. Iyer <br>Title: Vice President, Finance


                <p>
                    <strong>Annexure A- Scope of Activities :</strong><br><br>
                    <strong>Objective</strong>
                    <br>1. An observational cohort market survey to compare the health status, quality of life (QOL) and treatment satisfaction in Indian patients with type 2 diabetes
                    <br> 2. Assessing the treatment variables including hypoglycaemia and level of glycaemic at baseline and at 12 weeks in the same set of patients.
                    <br><br>
                    <strong> Services:</strong><br> 1. To furnish survey details on the provided App as per the schedule for twenty-five (25) patients
                    <br>2. Ensuring that the survey requirement is met as per the synopsis Payment: The honorarium will be paid by Biocon to participating healthcare professional for 25 completed and verified survey reports on the App which would be totaling
                    up to a maximum amount of Rs.25,000/- The above-mentioned honorarium will be paid on per patient basis after completion and verification of 25 survey reports on the App. Biocon shall make the payment within forty-five (45) days from
                    the receipt of undisputed invoice.

                </p>

                <div>
                    <p class="h6">Agreement Date & Time:</p>
                    <p> {{date | date:'fullDate'}}</p>
                </div>

                <form [formGroup]='form'>
                    <div class="row">
                        <div class="col-12">
                            <div class="entry-inputs-block inline_check">
                                <mat-checkbox formControlName="gst" value="yes" color="primary" (change)="check($event)" class="example-margin d-block mb-2"></mat-checkbox>GST
                            </div>
                        </div>

                    </div>
                    <div mat-dialog-actions>
                        <button mat-button mat-dialog-close (click)="submit()" class="next_btn">Agree</button>
                        <button mat-button mat-dialog-close (click)="logout()" class="next_btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>