<div class="TNC_Popup">
    <div class="row">
        <div class="col-lg-12">
            <div class="TNC-pop-header">
                <h4>Service Agreement</h4>
            </div>
        </div>
    </div>

    <div class="row" mat-dialog-content>
        <div class="col-12">
            <h6 class="mt-3" *ngIf="message">Awaiting for Agreement</h6>
            <div class="TNC_Description">
                <p [innerHTML]="termsData"></p>
                <div *ngIf="termsData">
                    <p class="h6">Agreement Date & Time:</p>
                    <p> {{date | date:'fullDate'}}</p>
                </div>

                <form *ngIf="termsData" [formGroup]='form'>
                    <div class="row">
                        <div class="col-12">
                            <div class="entry-inputs-block inline_check">
                                <mat-checkbox formControlName="gst" value="yes" color="primary" (change)="check($event)" class="example-margin d-block mb-2"></mat-checkbox>GST
                            </div>
                        </div>

                    </div>
                </form>
                <div mat-dialog-actions>
                    <button mat-button mat-dialog-close *ngIf="termsData" (click)="submit()" class="next_btn">Agree</button>
                    <button mat-button mat-dialog-close (click)="logout()" class="next_btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>